  #cy {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 25em;
  }
  
  .config {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 25em;
      background: rgba(0, 0, 0, 0.75);
      box-sizing: border-box;
      padding: 1em;
      color: #fff;
      transition-property: opacity;
      transition-duration: 250ms;
      transition-timing-function: ease-out;
      overflow: auto;
      z-index: 1;
  }